<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>scm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MaGetAccountMessage</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaGetAccountMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaGetAccountMessage</servlet-name>
    <url-pattern>/MaGetAccountMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaAddOrModifyAccount</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaAddOrModifyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaAddOrModifyAccount</servlet-name>
    <url-pattern>/MaAddOrModifyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaAddOrModifyAccountToSql</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaAddOrModifyAccountToSql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaAddOrModifyAccountToSql</servlet-name>
    <url-pattern>/MaAddOrModifyAccountToSql</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaCheckAccountRepeat</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaCheckAccountRepeat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaCheckAccountRepeat</servlet-name>
    <url-pattern>/MaCheckAccountRepeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaDeleteAccount</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaDeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaDeleteAccount</servlet-name>
    <url-pattern>/MaDeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MaAccountMessageToPage</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaAccountMessageToPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaAccountMessageToPage</servlet-name>
    <url-pattern>/MaAccountMessageToPage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>com.aowin.filter.EncodeFilterAll</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.aowin.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MaQueryAccount</servlet-name>
    <servlet-class>com.aowin.manager.serv.MaQueryAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaQueryAccount</servlet-name>
    <url-pattern>/MaQueryAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseShowInStockMain</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseShowInStockMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseShowInStockMain</servlet-name>
    <url-pattern>/PurchaseShowInStockMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseShowOutStockMain</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseShowOutStockMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseShowOutStockMain</servlet-name>
    <url-pattern>/PurchaseShowOutStockMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseChangeInStockServ</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseChangeInStockServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseChangeInStockServ</servlet-name>
    <url-pattern>/PurchaseChangeInStockServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseChangeOutStockServ</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseChangeOutStockServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseChangeOutStockServ</servlet-name>
    <url-pattern>/PurchaseChangeOutStockServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseShowInStockSub</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseShowInStockSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseShowInStockSub</servlet-name>
    <url-pattern>/PurchaseShowInStockSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseShowOutStockSub</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseShowOutStockSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseShowOutStockSub</servlet-name>
    <url-pattern>/PurchaseShowOutStockSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseGetStockInventoryMessage</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseGetStockInventoryMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseGetStockInventoryMessage</servlet-name>
    <url-pattern>/PurchaseGetStockInventoryMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseGetStockInventoryPage</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseGetStockInventoryPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseGetStockInventoryPage</servlet-name>
    <url-pattern>/PurchaseGetStockInventoryPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseGetStockInventoryQueryMessage</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseGetStockInventoryQueryMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseGetStockInventoryQueryMessage</servlet-name>
    <url-pattern>/PurchaseGetStockInventoryQueryMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseAddToCheckStock</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseAddToCheckStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseAddToCheckStock</servlet-name>
    <url-pattern>/PurchaseAddToCheckStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseToQueryInStockServ</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseToQueryInStockServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseToQueryInStockServ</servlet-name>
    <url-pattern>/PurchaseToQueryInStockServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseGetInStockRecordServ</servlet-name>
    <servlet-class>com.aowin.keeper.serv.PurchaseGetInStockRecordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseGetInStockRecordServ</servlet-name>
    <url-pattern>/PurchaseGetInStockRecordServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumShowSellMain</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumShowSellMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumShowSellMain</servlet-name>
    <url-pattern>/ConsortiumShowSellMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumShowSellSub</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumShowSellSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumShowSellSub</servlet-name>
    <url-pattern>/ConsortiumShowSellSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumReceipt</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumReceipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumReceipt</servlet-name>
    <url-pattern>/ConsortiumReceipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumShowPurchaseMain</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumShowPurchaseMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumShowPurchaseMain</servlet-name>
    <url-pattern>/ConsortiumShowPurchaseMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumShowPurchaseSub</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumShowPurchaseSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumShowPurchaseSub</servlet-name>
    <url-pattern>/ConsortiumShowPurchaseSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumExpend</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumExpend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumExpend</servlet-name>
    <url-pattern>/ConsortiumExpend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumQuery</servlet-name>
    <servlet-class>com.aowin.sell.serv.ConsortiumQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumQuery</servlet-name>
    <url-pattern>/ConsortiumQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsortiumGetMoneyMessage</servlet-name>
    <servlet-class>com.aowin.statement.serv.ConsortiumGetMoneyMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsortiumGetMoneyMessage</servlet-name>
    <url-pattern>/ConsortiumGetMoneyMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseGetStockNumMessage</servlet-name>
    <servlet-class>com.aowin.statement.serv.PurchaseGetStockNumMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseGetStockNumMessage</servlet-name>
    <url-pattern>/PurchaseGetStockNumMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sets</servlet-name>
    <servlet-class>com.aowin.manager.serv.Sets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sets</servlet-name>
    <url-pattern>/Sets</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>