<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--声明实现类  -->
	<bean id="testdaoimpl" class="com.aowin.aop.TestDaoImpl"></bean>
	<!--声明通知类  -->
	<bean id="infobeforeadvice" class="com.aowin.aop.advice.InfoBeforeAdvice"></bean>
	
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	<!--配置通知类  -->
		<property name="interceptorNames">
			<list>
				<value>infobeforeadvice</value>
			</list>
		</property>
		<!--配置目标对象  -->
		<property name="target" ref="testdaoimpl"></property>
		<property name="proxyInterfaces">
			<list>
				<value>com.aowin.aop.TestDao</value>
			</list>
		</property>
	</bean>
	
	
	<!--配置接口类  -->
	
	
	
</beans>